.videoContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  flex-direction: column; /* Stack title and video vertically */
  gap: 20px; /* Add some space between the title and the video */
}

.titleContainer {
  text-align: center;
}

.title {
  font-family: "Press Start 2P", system-ui;
  color: #f0f0f0;
  font-size: 1.8em; /* Adjust size as needed */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.videoWrapper {
  position: relative;
  width: 80%;
  max-width: 900px;
  border: none;
  overflow: hidden;
}

.videoPlayer {
  display: block;
  width: 100%;
}

.controlsContainer {
  position: absolute;
  bottom: 40px;
  right: 60px;
  display: flex;
  gap: 10px; 
  z-index: 10;
}

.controlButton {
  width: 48px;  
  height: 48px;
  cursor: pointer;
  image-rendering: pixelated;
}